<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body data-ng-app="myApp" data-ng-controller="RootController">
    @*<div id="pre-div">
        <div id="loader">
        </div>
    </div>*@
    <!--/. PRELOADER END -->
    <div class="navbar navbar-default navbar-fixed-top move-me ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="~/img/logo.png" class="navbar-brand-logo " alt="blah" />
                </a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-class="{active : activeViewPath==='/home'}"><a href='#/home'>HOME</a></li>
                    <li data-ng-class="{active : activeViewPath==='/test'}"><a href="#/test">TEST</a></li>
                    <li data-ng-class="{active : activeViewPath==='/demo'}"><a href="#/demo">DEMO</a></li>
                    <li data-ng-class="{active : activeViewPath==='/angular'}"><a href='#/angular'>LEARN ANGULAR</a></li>
                    <li data-ng-class="{active : activeViewPath==='/about'}"><a href='#/about'>ABOUT</a></li>
                    <li data-ng-class="{active : activeViewPath==='/contact'}"><a href='#/contact'>CONTACT</a></li>
                </ul>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
